* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    
}

.navbar {
    /* position: relative; */
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /* padding: 1rem 0 1rem 0; */
    align-items: center;
    background-color: #CCF0FF;
    height: 10%;
}



.navbar .logo {
    width: 15%;
    height: 100%;
    background-image: url("./media/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.nav-menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.nav-menu a {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav-menu a:hover {
    transform: scale(1.1);
    color: #0ABFDC;
}

.search-bar {
    display: flex;
    border: none;
    /* align-items: center; */
    font-size: 1.2rem;
    /* height: 100%; */
}

.search-bar input {
    /* height: 2rem; */
    border: none;
    font-size: 1.1rem;
    padding: .6rem;
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
}

.search-bar i {
    background-color: rgb(228, 218, 218);
    padding: 0.6rem;
    /* display: flex; */
    /* align-items: center; */
    width: auto;
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
}

.navbar button {
    border: 0;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #0028FB;
    color: white;
    border-radius: 3rem;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.banner {
    width: 100%;
    height: 81%;
    display: flex;
    /* border: 2px solid red; */
}

.left {
    position: relative;
    width: 50%;
    /* border: 2px solid green; */
    background-image: url("./media/banner-left.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.right {
    position: relative;
    /* border: 2px solid black; */
    width: 50%;
    background-image: url("./media/banner-right.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.move-logos {
    position: absolute;
}

.linkedin-logo {
    position: absolute;
    width: 4rem;
    top: 20%;
    right: 25%;
    height: 4rem;
    /* border: 2px solid red; */
    background-image: url("./media/linkedin-logo-linkedin-icon-transparent-free-png.png");
    background-repeat: no-repeat;
    background-size: contain;
    animation: animeX 2s infinite ease-in-out alternate;
}

.yt-logo {
  
    width: 4rem;
    top: 35%;
    right: 20%;
    height: 4rem;
    /* border: 2px solid red; */
    background-image: url("./media/youtube-logo-youtube-icon-transparent-free-png.png");
    background-repeat: no-repeat;
    background-size: contain;
    animation: animeY 2s infinite ease-in-out alternate;
}

.x-logo {
   
    width: 3rem;
    top: 40%;
    right: 35%;
    height: 3rem;
    /* border: 2px solid red; */
    background-image: url("./media/vecteezy_twitter-new-logo-twitter-icons-new-twitter-logo-x-2023-x_31737215.png");
    background-repeat: no-repeat;
    background-size: contain;
    animation: animeX 2s infinite ease-in-out alternate;
}

.pint-logo {
   
    width: 3rem;
    top: 56%;
    right: 25%;
    height: 3rem;
    /* border: 2px solid red; */
    background-image: url("./media/vecteezy_pinterest-png-icon_16716461.png");
    background-repeat: no-repeat;
    background-size: contain;
    animation: animeY 2s infinite ease-in-out alternate;
}

.fb-logo {
   
    width: 2rem;
    top: 45%;
    right: 10%;
    height: 2rem;
    /* border: 2px solid red; */
    background-image: url("./media/vecteezy_facebook-png-icon_16716481.png");
    background-repeat: no-repeat;
    background-size: contain;
    animation: animeX 2s infinite ease-in-out alternate;
}

.snap-logo {
   
    width: 3rem;
    top: 64%;
    right: 40%;
    height: 3rem;
    /* border: 2px solid red; */
    background-image: url("./media/vecteezy_snapchat-png-icon_16716454.png");
    background-repeat: no-repeat;
    background-size: contain;
    animation: upToDown linear forwards, floating infinite ease 4s;
    animation: animeX 2s infinite ease-in-out alternate;
}

.insta-logo {

    width: 3rem;
    top: 75%;
    right: 20%;
    height: 3rem;
    /* border: 2px solid red; */
    background-image: url("./media/vecteezy_instagram-logo-3d-illustration_12493083.png");
    background-repeat: no-repeat;
    background-size: contain;
    animation: animeY 2s infinite ease-in-out alternate;
}



@keyframes animeY {
    0% {
        transform: translateY(0px);
    }
    100% {
        /* transform: translateY(20px); */
        transform: translateY(20px);
    }
}
@keyframes animeX {
    0% {
        transform: translateX(0px);
    }
    100% {
        /* transform: translateY(20px); */
        transform: translateX(20px);
    }
}

.welcome {
    margin: 3rem 0 0 2rem;;
    font-size: 1.2rem;
    font-weight: 500;
    width: 10rem;

}

hr {
    width: 6rem;
    margin-left: 2rem;
    border: 1px solid #0028FB;
}

.title {
    display: flex;
    margin: 4rem 0 3rem 2rem;
    align-items: center;
}
.myzx {
    font-weight: 700;
    font-size: 3rem;
    color: #0028FB;
    letter-spacing: .2rem;
}

.media {
    font-size: 3rem;
    font-weight: 580;
    letter-spacing: .2rem;
    margin-left: 1rem;
}

.sma {
    margin: 0 0 0 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.3rem;
    color: #0028FB;
    word-spacing: 0.3rem;
}

 .tagline {
    margin: 2rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.register {
    border: 0;
    border-radius: 10px;
    padding: .5rem 1.8rem .5rem 1.8rem;
    background-color: #0028FB;
    font-size: 1.1rem;
    color: white;
    margin-left: 2rem;
    margin-top: 1rem;
}

.banner-logo {
    position: absolute;
    width: 13rem;
    height: 5rem;
    background-image: url("./media/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 8%;
    right: 0%;
}


.section-heading {
    width: 100%;
    height: auto;
    font-size: 2rem;
    padding: 6rem;
    text-align: center;
    background-color: #f8f8ff;
}

.section-heading button {
    border: 2px solid rgb(92, 95, 92);
    border-radius: 1rem;
    background-color: #ffffff;
    font-size: 1.4rem;
    padding: 1rem 4rem 1rem 4rem;
}

.sevices {
    width: 100%;
    height: 100vh;

}

.ser {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0 5rem 0;
    background-color: #f8f8ff;
   

}

.ser-left {
    width: 45%;
    height: auto;
    background-color: #f5f5f5;
    border-radius: 1.5rem;
    border: 2px solid rgb(175, 173, 173);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ser-left .head1 {
    padding: 0 2rem 0 2.5rem;
    font-size: 2.5rem;
    color: #0028FB;
    font-weight: 680;


}

.ser-left .head2 {
    padding: 0 2rem 0 2.5rem;
    font-size: 2rem;
    color: #7c8081;
}

.ser-left .para {
    padding: 0 2rem 0 2.5rem;
    font-size: 1.09rem;
}

.ser-right {
    width: 45%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f5f5f5;
    border-radius: 1.5rem;
}

.ser-pic1 {
    background-image: url("./media/smma1.webp");
}

.ser-pic2 {
    background-image: url("./media/smmaa1.webp");
}

.ser-pic3 {
    background-image: url("./media/smm3.jpg");
    background-position: center;
    background-size: contain;
    background-color: #ffffff;
}

.ser-pic4 {
    background-image: url("./media/smm4.webp");
}
.ser-pic5 {
    background-image: url("./media/smma5.avif");
    background-position: center;
}
.ser-pic6 {
    background-image: url("./media/smm7.jpg");
    /* background-position: center; */
}
.ser-pic7 {
    background-image: url("./media/smmaa7.jpeg");
}

.sec-head2 {
    background-color: #f3f2ed;
}

.why-us {
    width: 100%;
    height: 85%;
    background-color: #f3f2ed;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0 5rem 0;
}

.box {
    width: 30%;
    height: 100%;
    /* border: 2px solid blue; */
    background-color: #e6f0f8;
    border-radius: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.why-content {
   
    height: 0%; 
  
}

.why-head {
    padding: 2rem 0 0 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #0028FB;
}

.why-exp {
    padding: 2rem 0 2rem 2rem;
    font-size: 1rem;
    color: #7c8081;
}

.why-pics {
    width: 80%;
    height:auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3rem;
    
}

.why-pic1 {
    background-image: url("./media/whyy1.jpg");
}
.why-pic2 {
    background-image: url("./media/why2.jpeg");
}
.why-pic3 {
    background-image: url("./media/why3.jpeg");
}

footer {
    width: 100%;
    height: 35vh;
    display: flex;
    padding: 2rem 0 3rem 0;
    justify-content: space-evenly;
    background-color: rgb(56, 54, 54);
    color: white;

}

footer .ft {
    width:25%;
    height: 100%;

}

.ft-title {
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1.7rem;
    color:#aeebf5;
}

footer li, .ft-content {
    line-height: 2rem;
    word-spacing: 0.1rem;
    color: #CCF0FF;
}


@media screen and (max-width: 1024px) {
    .banner {
        display: flex;
        height:95vh;
        width: 100%;
        flex-direction: column-reverse;
        
    }

    .right {
        width: 100%;
        height: 50%;
        background-size: cover;
    }
    .left {
        width: 100%;
        height: 50%;
        background-size: cover;
    }
    .title .myzx, .media {
        font-size: 4rem;
    }

    .sma {
        font-size: 3.45rem;
    }

    .welcome, .tagline {
        font-size: 1.5rem;
    }
    .register {
        margin-top: 4rem;
        padding: 1rem 2.2rem 1rem 2.2rem;
        font-size: 1.5rem;
    }

    .banner-logo {
        width: 20rem;
        height: 8rem;
    }
}